<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap uap5">

	<Identity
	  Name="AFMDataClient"
	  Publisher="CN=475C3F25-EB6A-4E18-BE18-E6FC75362747"
	  Version="0.2.4.0" />

	<Properties>
		<DisplayName>Albion Free Market Data Client</DisplayName>
		<PublisherDisplayName>JP CodeCraft</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17134.0" MaxVersionTested="10.0.22631.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="AlbionOnlineDataClient"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="Albion Free Market Data Client"
			  Description="Albion Online Data Project Client"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
				<uap:SplashScreen Image="Images\SplashScreen.png" />
				<uap:LockScreen BadgeLogo="Images\BadgeLogo.png" Notification="badge"/>
			</uap:VisualElements>
			<Extensions>
				<uap5:Extension Category="windows.startupTask">
					<uap5:StartupTask
					  TaskId="AlbionDataClientStartupTask"
					  Enabled="true"
					  DisplayName="Albion Online Data Client"/>					
				</uap5:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
